<h2>Course Details</h2>
<table>
  <tr>
    <td><%=@course.name%></td>
  </tr>

  <tr>
    <td><%=@course.fee%></td>
  </tr>

  <tr>
    <td><%=@course.duration%></td>
  </tr>
  

  <%=  image_tag "~/assets/images/orange.png" %>
</table>